.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f9fafb;
    text-align: center;
  }
  
  .content {
    max-width: 400px;
    width: 100%;
    background: white;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  
  .content h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    font-weight: bold;
  }
  
  .description {
    margin-bottom: 1rem;
  }
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  